.task-action {
    cursor: pointer;
}

.task-completed {
    font-weight: bold;
    color: gray;
    text-decoration: line-through;
}

.task-pending {
    font-weight: bold;
    color: tomato;
}
