/* "Pasa por encima" (TIP: Este texto debes agregarlo a través de un pseudo-elemento)

Utiliza las pseudo-clases para que cuando se pase el ratón por encima de este botón, el texto se vuelva blanco y el fondo de color verde

Utiliza los pseudo-elementos para cambiar el texto del botón a "" */

.boton::before {
    content: "Pasa por encima";
}

.boton:hover {
    color: white;
    background: green;
}

.boton:hover:before {
    content: "¡Hecho!";
}